<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trending">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trending"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PdfViewActivity"></activity>
        <activity android:name=".GoogleButton">
        </activity>
        <activity android:name=".Button9Activity" />
        <activity android:name=".Button8Activity" />
        <activity android:name=".Button7Activity" />
        <activity android:name=".Button6Activity" />
        <activity android:name=".Button5Activity" />
        <activity android:name=".Button4Activity" />
        <activity android:name=".Button3Activity" />
        <activity android:name=".Button2Activity" />
        <activity android:name=".Button1Activity" /> <!-- <activity android:name=".MainEmail3Activity" /> -->
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>